@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Roboto', sans-serif;
}

.main {
  text-align: center;
}

.logo {
  height: 30vmin;
  pointer-events: none;
  margin-bottom: 20px;
}

.main-header {
  background-color: #1c2541;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.link {
  color: #90f3ff;
  font-size: large;
  margin-top: 6px;
}

